@charset "UTF-8";
body {
  background-image: url(../Multimedia/violet-watercolor-texture-background.webp);
  position: relative;
  min-height: 100vh;
}

.navegador {
  background-color: #4f2152;
  margin-top: 0 px;
  margin-right: 0px;
  padding-top: 10px;
  border-radius: 6px;
}
.navegador .letramenu {
  margin-left: 35px;
  margin-right: 35px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #d1cfd6;
}
.navegador .letramenu:hover {
  background-color: #f6e7f7;
  color: green;
  border-radius: 6px;
}

.imagenMia {
  margin-top: 25px;
  height: 200px;
  width: 200px;
}

#mariaLaura {
  margin-top: 1.5rem;
  color: #04513c;
  font-size: 3.5rem;
}

.sobreMi {
  font-size: 1.6rem;
  color: #2f333c;
  font-family: "Times New Roman", Times, serif;
  margin-top: 25px;
}

.informacion {
  padding-top: px;
  padding-bottom: 100px;
  width: 60%;
}
.informacion .borde {
  border: 1.5px solid #4f2152;
  border-radius: 3px;
}
.informacion .propiedadesBotonAcordion {
  background-color: #f6e7f7;
  font-size: 1.8rem;
  color: #04513c;
  font-weight: 500;
  z-index: 2;
}

.formacion {
  list-style: none;
  padding-left: 20px;
}

.formacion li::before {
  content: "•";
  color: #4f2152;
  margin-right: 5px;
}

li {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  color: #04513c;
  font-weight: 700;
}
li .formacionD {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: #2f333c;
}

.formacion li:nth-child(1) p svg {
  padding-bottom: 15px;
}

.formacion li:nth-child(2) p svg {
  padding-bottom: 15px;
}

.formacion li:nth-child(3) p svg {
  padding-bottom: 15px;
}

.formacion li:nth-child(4) p svg {
  padding-bottom: 15px;
}

.formacion li:nth-child(5) p svg {
  padding-bottom: 15px;
}

.formacion li:nth-child(6) p svg {
  padding-bottom: 15px;
}

.infoContacto {
  margin-top: 25px;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: #04513c;
  font-weight: 700;
}

.medidas {
  margin-top: 0px;
}

.titulo h1 {
  margin-top: 35px;
  color: #04513c;
  font-size: 3.5rem;
}

.textoSecundario {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  font-family: "Times New Roman", Times, serif;
}

.subtitulos {
  margin-top: 20px;
  color: #04513c;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

#imagenPorta {
  width: 400px;
  height: 200px;
  margin-left: 65px;
  margin-bottom: 15px;
  border-radius: 10px;
}

#imagenColor {
  width: 400px;
  height: 200px;
  margin-left: 65px;
  border-radius: 10px;
}

.habilidades1 {
  padding-bottom: 100px;
}

.shadow-container {
  background-color: rgb(203, 177, 237);
  color: #4f2152;
  border-radius: 20px;
  text-align: center;
}
.shadow-container .h2caja {
  color: #4f2152;
}

.igualarCuadro {
  height: 190px;
}

#tituloContacto {
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
  color: #04513c;
}

#formulario {
  margin-left: 150px;
  margin-right: 150px;
}

#boton {
  background-color: #4f2152;
  margin-left: 350px;
  margin-right: 350px;
}

h1 {
  font-size: 3.5rem;
  color: #04513c;
  margin-top: 25px;
  text-align: center;
}

p {
  font-size: 1.5rem;
  color: #2f333c;
  font-weight: 500;
  font-family: letra;
  text-align: center;
}

.caro {
  height: 300px;
  padding-bottom: 100px;
  height: 50%;
}

img {
  padding-top: 40px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 40px;
  height: 400px;
}

#clienteUno {
  margin-top: 3rem;
  width: 170px;
  height: 130px;
  margin-bottom: 3rem;
}

#clienteDos {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.testimonial {
  margin-top: 15px;
  margin-bottom: 25px;
}

.testimonioUno {
  background-color: rgba(75, 0, 85, 0.4);
  border-radius: 20px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 250px;
  margin-right: 250px;
}

.testimonioDos {
  background-color: rgba(75, 0, 85, 0.4);
  border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  margin-left: 250px;
  margin-right: 250px;
  height: 355px;
  margin-bottom: 155px;
}

/* FORMATO RESPONSIVE INDEX*/
@media (max-width: 320px) {
  .informacion {
    width: 95%;
  }
}

/*FORMATO RESPONSIVE SOBRE MI*/
/*TABLET*/
@media (max-width: 768px) {
  /*header*/
  nav {
    background-color: #4f2152;
    padding-right: 500px;
  }
  /*main*/
  /*imagenes*/
  #imagenPorta {
    width: 80%;
    height: 300px;
    margin-left: 90px;
  }
  #imagenColor {
    width: 80%;
    height: 300px;
    margin-left: 90px;
  }
  /*letras del titulo y parrafos color*/
  #h2Color {
    margin-bottom: 30px;
  }
  #pColor {
    margin-top: 0px;
    margin-bottom: 35px;
  }
  /*cajas habilidades*/
  .igualarCuadro {
    height: 220px;
  }
  #h2Centrado {
    padding-top: 10px;
  }
  #pCentrado {
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .pcaja {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
/*Sobre mi - Movil*/
@media (max-width: 320px) {
  header {
    margin-left: 300px;
    margin-top: 5px;
  }
  h1 {
    margin-bottom: 0px;
    font-size: 1rem;
  }
  #soyMovil {
    padding-left: 25px;
    font-size: 1.3rem;
  }
  /*imagenes*/
  #imagenPorta {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }
  #imagenColor {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }
  .habilidadesM {
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .igualarCuadro {
    margin-bottom: 15px;
  }
  #espaciofooter {
    margin-bottom: 0px;
  }
}
.pcaja {
  margin-bottom: 10px;
  margin-top: 15px;
}

footer {
  background-color: #04513c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
}

/*# sourceMappingURL=style.css.map */
