*{
    margin: 0;
    padding:0;
 
}
/*ESTILO INDEX*/
body{
    background-image: url(./Multimedia/violet-watercolor-texture-background.jpg);
   
}
nav{
    background-color:#4f2152;
    height: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 700px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px;
    border: 5px;
}
.letraMenu{
    color: #d1cfd6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 3px;
    margin-right: 15px;
   
}

.letraMenu:hover{
    color: grey;
    background-color: #f6e7f7;
    border-radius: 3px;
}
h1{ 
    font-size: 40px;
    color: #04513c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:250px ;
    margin-right:250px ;

}
.filaEstilo{
    margin-top: 35px;
}

.textoSecundario{
    margin-top: 25px;
    font-size: 35px;
    color: #2f333c;
    font-family:'Times New Roman', Times, serif;

}
h2{ 
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #04513c;
    margin-right: 150px;
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.imagenPorta{
    width: 500px ;
    height: 300px ;
    margin-left: 65px;
    margin-bottom: 15px;
    border-radius: 10px;
}
footer{
    background-color: #04513c;
   align-self: flex-end;
   width: 100%;

}


/* Estilo Sobre Mi */

.imagenMia{
    margin-top: 25px;
    height: 150px;
    width: 250;
 }
 
#mariaLaura{
    margin-top: 20px;
}

.sobreMi{ 
    font-size: 35px;
    color: #2f333c;
    font-family:'Times New Roman', Times, serif; 
 }

 .habilidades{
    margin-top: 25px;
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #04513c;
 }

 .imagenHabilidades{
    width: 400px;
    height: 300px;
    margin-right:80px;
    border-radius: 150px;
    margin-bottom: 25px;
 }


 .medidasBoton{
    padding:20px;
    background-color:#4f2152;
    font-size: 35px;
    color: #d1cfd6;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right:95px;
 }
/* responsive-sobremi */

@media (max-widht:500px){
    .sobreMi{ 
        font-size: 65px;
        color: #f6e7f7;
        font-family: cursive; 
    }

}

/* contacto */
.sectionContacto{
padding-left: 10rem;
padding-right: 10rem;
}
#tituloContacto{
    padding-left: 10rem;
    padding-top: 2.45rem;
}

/*portafolio*/
.portafolio{
    margin-top: 5px;
    margin-left: 150px;
    margin-bottom: 5px;
    background-color: #2f333c;
    border-radius: 15px;
    width: 80%;
    height: 500px;
    
}
.portafolio1{
    font-size: 55px;
    color: #f6e7f7;
    
}