#clienteUno{
    margin-top: 3rem;
    width: 170px;
    height: 130px;
    margin-bottom: 3rem;
}
#clienteDos{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 3rem;}

.testimonial{
    margin-top: 15px;
    margin-bottom: 25px;
}    

.testimonioUno {
        background-color: rgba(75, 0, 85, 0.4);
        border-radius: 20px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 250px;
        margin-right: 250px;
}
.testimonioDos {
    background-color: rgba(75, 0, 85, 0.4);
    border-radius: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 250px;
    height: 355px;
    margin-bottom: 155px;
}