
.cuadrodef{
    padding-bottom: 100px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
#boton{
    background-color: $fondo_morado;
    margin-top: 25px;
    padding: 10px;
}
