#tituloContacto{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: $fondo_verde;
}
#formulario{
    margin-left: 150px;
    margin-right: 150px;
}
#boton {
    background-color: $fondo_morado;
    margin-left: 350px;
    margin-right: 350px;
}