.informacion{
    @media (max-width:320px){
        width: 95%;
    }
}
.imagenHabilidades {
    @media (min-width: 900px) {
        width: 500px;
        height: 500px;
        margin-bottom: 155px;
    }
}