.habilidades {
    font-size: 1rem;
}

.shadow-container{
    background-color: rgba(69, 1, 78, 0.4);
    color: $fondo_morado;
    border-radius: 20px;
    text-align: center;
}

#tituloServicios{
    text-align: center;
}
