.habilidades1 {
    font-size: 1rem;
}
.habilidades2 {
    font-size: 1rem;
}
.h2port {
    font-size: 1.5rem;
}
.shadow-container{
    background-color: rgba(69, 1, 78, 0.4);
    color: $fondo_morado;
    border-radius: 20px;
    text-align: center;
}
.primeraLinea{
    padding: 3rem;
}
.segundaLinea{
    padding: 3rem;
}
#tituloServicios{
    text-align: center;
}