.imagenMia{
    margin-top: 25px;
    height: 250px;
    width: 250px;
 }
#mariaLaura {
margin-top: 1.5rem;
color: $fondo_verde;
font-size: 3.5rem;
}
.sobreMi{ 
    font-size: 1.5rem;
    color: #2f333c;
    font-family: $letra; 
    }
.imagenHabilidades{
        width: 400px;
        height: 300px;
        margin-right:80px;
        margin-bottom: 4rem;
        border-radius: 6px;
}
